<button type="button" class="btn btn-default btn-sm artgris-media-button-upload  btn-manager"
        data-id="{{ form.path.vars.id }}"
        data-toggle="modal" data-target="#myModal{{ id }}">
    <span class="fa fa-folder-open"></span>
</button>